<div class="main p-4">
    <div class="container">
        <div class="jumbotron jumbotron-fluid text-light rounded p-4">
            <div class="container">
                <h1 class="display-4 font-weight-bolder">Torneos</h1>
                <p class="lead">En esta sección puedes administrar todos los torneos<span class="font-weight-bolder"></span></p>
                <button type="button" class="btn btn-lg btn-outline-light text-uppercase" data-bs-toggle="modal" data-bs-target="#createTournament">Crear Torneo</button>
            </div>
        </div>
        <div class="overflow-auto maxheight">
            <div class="card tournaments shadow-sm" *ngFor="let item of []">
                <div class="card-body minheight">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Crear Torneo -->
<div class="modal fade" id="createTournament" tabindex="-1" aria-labelledby="createTournamentLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createTournamentLabel">Crear Torneo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <label for="inputNameTournament">Nombre de Torneo</label>
                        <input name="nameTournament" type="text" class="form-control" id="inputNameTournament">
                    </div>
                    <div class="form-group">
                        <label for="inputLiga">Liga</label>
                        <select name="role" id="inputLiga" class="form-control">
                        <option selected disabled>Elige una liga...</option>
                        <option></option>
                      </select>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-block">Crear</button>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>