<div class="main">
    <div class="container p-4">
        <div class="jumbotron jumbotron-fluid bg-dark text-light rounded p-4">
            <div class="container">
                <h1 class="display-4 font-weight-bolder">Dashboard - <small>Gestor de Torneos</small> </h1>
                <p class="lead">El Mejor Gestor de Torneos</p>
            </div>
        </div>
        <div class="row">
            <div class="col rounded border-info p-4 text-center">
            </div>
            <div class="col rounded border-info p-4 text-center">
            </div>
        </div>
        <app-stadistics></app-stadistics>
    </div>
</div>