.main {
    max-height: 80vh!important;
    width: 85vw!important;
    margin: 0 auto!important;
    height: 80vh!important;
}

.leagues {
    width: 18rem;
    display: inline-block!important;
    margin: 1rem;
}

.m0-auto {
    margin: 0 auto;
}

.maxheight {
    max-height: 38rem;
}

.mt-custom {
    margin-top: 7rem!important;
}